div.repl {
    background-color: black;
    color: white;
    font-family: Courier;
    overflow-y: scroll;
    height: 200px;
    padding: 5px;
    margin: 5px;
    width: 80%;
    text-align: left;
    margin: auto;
}

div.repl-output {
    flex-direction: column-reverse;
}

div.repl-input-wrapper {
    display: inline;
    white-space: nowrap;
}

input.repl-input {
    background-color: inherit;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    border: none;
    outline: none;
    resize: none;
    overflow-x: scroll;
    line-height: 1;
    width: 100%
}
